:root {
  --bg-color: #fff;
  --gap-0: 0px;
  --gap-1: 10px;
  --gap-2: 20px;
  --gap-3: 40px;
  --gap-4: 60px;
  --bar-color: 132, 162, 31;
}
body {
  letter-spacing: 2;
  background-color: #000;
  overflow-x: hidden;
}
hr {
  border: none;
  height: 0;
  margin: 0;
  background: none;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.underline {
  padding-bottom: var(--gap);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
p {
  margin: 0;
  font-weight: 200;
  line-height: 1.5;
}
ul {
  margin: 0;
}
.text-light {
  font-weight: 200;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-end {
  display: flex;
  justify-content: end;
  align-items: end;
}
.d-block {
  display: block;
}
.w-100 {
  width: 100%;
}
.text-center {
  text-align: center;
}
.border {
  border: 1px solid #ff6600;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.04em;
  margin: 0;
  text-rendering: geometricPrecision;
}
.d-inline-block {
  display: inline-block;
}

.gap-0 {
  --gap: var(--gap-0);
}
.gap-1 {
  --gap: var(--gap-1);
}
.gap-2 {
  --gap: var(--gap-2);
}
.gap-3 {
  --gap: var(--gap-3);
}
.gap-4 {
  --gap: var(--gap-4);
}
[class*='gap-'] {
  gap: var(--gap);
}

.p-0,
.ps-0 {
  --pad: var(--gap-0);
}
.p-1,
.ps-1 {
  --pad: var(--gap-1);
}
.p-2,
.ps-2 {
  --pad: var(--gap-2);
}
.p-3,
.ps-3 {
  --pad: var(--gap-3);
}
.p-4,
.ps-4 {
  --pad: var(--gap-4);
}
.p-1,
.p-2,
.p-3,
.p-4 {
  padding: var(--pad);
}
[class*='ps-'] {
  padding-left: var(--pad);
}

.m-0 {
  --margin: var(--gap-0);
}
.m-1 {
  --margin: var(--gap-1);
}
.m-2 {
  --margin: var(--gap-2);
}
.m-3 {
  --margin: var(--gap-3);
}
.m-4 {
  --margin: var(--gap-4);
}
[class*='m-'] {
  margin: var(--margin);
}

.text-light {
  font-weight: lighter;
}
.hover-underline:hover {
  text-decoration: underline !important;
}
.sticky-top {
  position: sticky;
  top: 0;
}

@media screen and (min-width: 768px) {
      .mobile-only {
    display: none !important;
  }
  .section-block {
    min-height: 100vh;
    display: grid;
    grid-template-columns: min(400px, 30vw) auto;
    border-left: 20px solid var(--bg-color);
  }
  .section-block > div:nth-child(1) > div {
    padding: var(--gap-2);
    overflow-y: visible;
    position: sticky;
    top: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section-block > div:nth-child(2) {
    padding: var(--gap-4);
    backdrop-filter: blur(20px) brightness(0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
    .desktop-only {
    display: none !important;
  }
  .section-block {
    display: block;
    min-height: max-content;
    margin-top: auto;
    border-left: 20px solid var(--bg-color);
  }
  .section-block > div:nth-child(1) {
    display: flex;
    height: 100%;
    padding: var(--gap-3);
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
  .section-block > div:nth-child(2) {
    padding: var(--gap-3);
    backdrop-filter: blur(20px) brightness(0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

/* animated underline */
.navgrid {
  width: 100%;
  height: 20px;
  padding-top: 0px;
  display: grid;
  grid-template-columns: repeat(calc(30), 1fr);
  /* width: min-content; */
}
.navgrid > div {
  width: var(--grid-size);
  height: var(--grid-size);
  transition: all ease-out 0.5s;
  background-color: var(--bg-color);
}
.text-color-2 {
  color: var(--bg-color);
}
.text-color-3 {
  color: #7a4be3;
}
/* .sidebar-title { */
/* position: sticky; */
/* top: 45vh; */
/* margin-bottom: 40px; */
/* margin-top: 40px; */
/* } */
.sidebar-title h1 {
  margin-bottom: 20px;
}
.funky-scroll > section {
  margin-top: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: max(34%, 400px) 66%;
}
.funky-scroll > section > div:nth-child(1) {
  flex: 1 1 auto;
  border-left: 20px solid var(--bg-color);
  padding-left: var(--gap-2);
  overflow-x: hidden;
}
.funky-scroll > section > div:nth-child(2) {
  flex: 1 1 auto;
  padding: var(--gap-3);
  backdrop-filter: blur(20px) brightness(0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .funky-scroll > section {
    display: block;
    min-height: max-content;
    margin-top: auto;
  }
  .funky-scroll > section > div:nth-child(1) {
    min-height: 300px;
    display: flex;
    height: 100%;
    align-items: center;
  }
  .sidebar-title {
    top: auto;
  }
}

.progress-bars-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: end;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .progress-bars-container {
    grid-template-columns: 1fr;
  }
}

.progress-bar {
  width: 100%;
  position: relative;
}
.progress-bar::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 2000px;
  border: 2px solid rgba(var(--bar-color), 0.5);
}
.progress-bar > div {
  padding: 4px;
  transition: width 2s;
}
.progress-bar > div::after {
  content: '';
  display: flex;
  flex: 1 1 auto;
  border-radius: 2000px;
  width: 100%;
  height: 12px;
  background-color: rgba(var(--bar-color), 1);
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  gap: var(--gap-1);
  width: 100%;
  justify-content: space-between;
}
.flex-col {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.flex-row {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
}
.flex-wrap {
  flex-wrap: wrap;
}

.circle {
  aspect-ratio: 1/1;
  border-radius: 2000px;
  background-color: #7a4be3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
}

.quote {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: var(--gap);
  font-family: 'Times New Roman', Times, serif;
}
.quote p {
  display: block;
  text-align: end;
  text-indent: 30px;
  opacity: 0.6;
}
.quote blockquote {
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
}

.cornice {
  display: flex;
  align-items: center;
  justify-content: center;
  text-rendering: geometricPrecision;
  font-size: 22px;
  border-width: 7px;
  border-style: double;
  border-color: #0ea8a4;
  color: #2ca8a478;
  width: 40px;
  height: 40px;
  position: absolute;
}

@property --progress {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}
.cinema-countdown-spinner.active {
  animation: progress-fill 1s linear;
}
.cinema-countdown-spinner {
  --dur: 5s;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(rgba(170, 170, 170, 0.5) 0% var(--progress), rgba(255, 255, 255, 0.8) var(--progress) 100%);
  animation-iteration-count: 5;
  animation-fill-mode: forwards;
}

.cinema-countdown-spinner > div,
.cinema-countdown-spinner > div > div {
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 2000px;
  width: auto;
  aspect-ratio: 1 / 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cinema-countdown-spinner > div {
  height: 90%;
}
.cinema-countdown-spinner::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
}
.cinema-countdown-spinner::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
}

.cinema-countdown-spinner > div > div {
  height: 80%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 160px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cinema-countdown-spinner > div > div::after {
  content: '5';
  display: block;
  animation: letters var(--dur) steps(1, end);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes progress-fill {
  from {
    --progress: 0%;
  }
  to {
    --progress: 100%;
  }
}

@keyframes letters {
  0% {
    content: '5';
  }
  20% {
    content: '4';
  }
  40% {
    content: '3';
  }
  60% {
    content: '2';
  }
  80% {
    content: '1';
  }
  100% {
    content: '';
  } /* reset for loop */
}

.sky-gradient {
  /* background: radial-gradient(circle at 50% 860%,  #88af44 88.9%,#badbfc 89%,#badbfc 90%,#1e5799 99%);  */
  /* background: linear-gradient(#16467d 0%, rgb(143, 180, 218) 90%, #7facd9 93%, #093b0a 98%); */
  /* background: linear-gradient(#0a305c 0%, rgb(66, 114, 161) 70%, #5689b6 75%,#e8e8d3 80%, #cf8bce 100%); */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+61,d6d1d4+80,fcfacf+100 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1b3687+1,7db9e8+69,d6d1d4+90,fcfacf+100 */
  /* background: linear-gradient(to bottom,  #1b3687 1%,#61a0d3 69%,#bfb1b8 88%,#eae8c2 100%); */

  background-color: rgba(4, 5, 31, 0);
  background-image: linear-gradient(to bottom, #1b3687 1%, #61a0d3 69%, #bfb1b8 88%, #eae8c2 100%);
  background-blend-mode: darken;
  height: 100vh;
}

.butterfly {
  border-radius: 20px;
  background-color: #fff;
}
/*

stay connected

*/
.stay-connected-btn {
  width: min-content;
  white-space: nowrap;
  margin: 0 auto;
  padding: 20px 40px;
  transition: background-color 1s;
  border-radius: 12px;
  text-decoration: none;
  color: inherit;
  font-weight: 200;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
.stay-connected-btn:hover {
  background-color: rgba(25, 176, 148, 0.5);
}
.stay-connected-btn span {
  text-decoration: none;
  font-family: 'verdana';
  font-size: 0.8em;
  color: #e8ff82;
}

.social-icon {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}
.resume-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  color: #fff;
  background-color: #ff6600;
  padding: 0 20px;
  text-decoration: none;
  height: 50px;
}
.resume-link svg {
  width: 20px;
  height: 20px;
}


.case-study-btn {
  border-radius: 8px;
}

.case-study-btn[data-selected='1'] {
  background-color: #7a4be3;
}